* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.container {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    border-color: blueviolet;
}
body {
    background-image: url(https://images.unsplash.com/photo-1423347673683-ccdb7f6a948f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80);
    background-size: cover;
    margin: 0;
}
footer {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
    padding: 3rem;
    background-color:transparent;
    font-size: 1.5rem;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}